In [2]:
# 时间序列 time series
# 是一种重要的结构化数据形式

In [3]:
# 时间序列数据的意义取决于具体的应用场景
# 主要为以下几种:
# 时间戳(timestamp) 特定的时刻
# 固定时期(period) 如2007年1月或2010年全年
# 时间间隔(interval) 由起始和结束时间戳表示
#    时期(period)可以被看做间隔(interval)的特例
# 实验或过程时间
# 每个时间点都是相对于特定起始时间的一个度量
# 例如,自放入烤箱时起,每秒钟饼干的直径

In [4]:
# 日期和时间数据类型及工具
# Python标准库包含用于日期和时间数据的数据类型
# 还有日历方面的功能
# 我们主要会用到datetime、time以及calendar

In [1]:
from datetime import datetime
from datetime import timedelta
import pandas as pd
import numpy as np

In [6]:
now = datetime.now()

In [7]:
now

datetime.datetime(2019, 2, 10, 11, 13, 47, 286046)

In [8]:
now.year,now.month,now.day

(2019, 2, 10)

In [9]:
# datetime以毫秒形式存储日期和时间
# timedelta表示两个datetime对象之间的时间差
delta = datetime(2011,1,7) - datetime(2008,6,24,8,15)

In [10]:
delta

datetime.timedelta(days=926, seconds=56700)

In [13]:
# 可以给datetime对象加上或减去一个或多个timedelta
start = datetime(2011,1,7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [14]:
start

datetime.datetime(2011, 1, 7, 0, 0)

In [15]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [16]:
# 字符串和datetime相互转换

stamp = datetime(2011,1,3)
str(stamp)

'2011-01-03 00:00:00'

In [18]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [19]:
value = '2011-01-03'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [20]:
datestrs = ['7/6/2011','8/6/2011']

In [21]:
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [22]:
# 可以使用dateutil中的parser.parse方法对日期格式进行解析

In [23]:
from dateutil.parser import parse

In [24]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [25]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [26]:
parse('6/12/2011',dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [27]:
# pandas 通常是用于处理成组日期的
# 不管这些日期是DataFrame的轴索引还是列
# to_datetime方法可以解析多种不同的日期表达形式

In [28]:
datestrs = ['2011-07-06 12:00:00','2011-08-06 00:00:00']

In [31]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [32]:
idx = pd.to_datetime(datestrs +[None])

In [33]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [35]:
idx[2]

NaT

In [36]:
pd.isnull(idx)

array([False, False,  True])

In [38]:
# NaT(Not a Time) 是pandas中时间戳数据的null值

In [40]:
# 时间序列基础

In [41]:
# pandas最基本的时间序列类型就是以时间戳为索引的Series

In [3]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
   ....:          datetime(2011, 1, 7), datetime(2011, 1, 8),
   ....:          datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [4]:
ts = pd.Series(np.random.randn(len(dates)), index=dates)

In [63]:
ts

2011-01-02   -1.598769
2011-01-05    0.260810
2011-01-07   -1.156542
2011-01-08   -0.405303
2011-01-10    0.289514
2011-01-12    0.916638
dtype: float64

In [61]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [62]:
ts + ts[::2]

2011-01-02   -3.197538
2011-01-05         NaN
2011-01-07   -2.313084
2011-01-08         NaN
2011-01-10    0.579028
2011-01-12         NaN
dtype: float64

In [65]:
# DatetimeIndex中的各个标量值是pandas的Timestamp对象

stamp = ts.index[0]

In [66]:
stamp

Timestamp('2011-01-02 00:00:00')

In [68]:
# 只要有需要,TimeStamp可以随时自动转换为datetime对象

In [76]:
# 索引、选取、子集构造

In [69]:
stamp = ts.index[2]

In [70]:
ts[stamp]

-1.1565419604321785

In [72]:
ts['1/10/2011']

0.289514093320967

In [73]:
ts['20110110']

0.289514093320967

In [74]:
longer_ts = pd.Series(np.random.randn(1000),
                     index=pd.date_range('1/1/2000',periods=1000))

In [75]:
longer_ts

2000-01-01    0.216848
2000-01-02    0.094835
2000-01-03   -0.699252
2000-01-04   -3.274639
2000-01-05    0.226020
2000-01-06    0.273526
2000-01-07    0.396028
2000-01-08    1.456762
2000-01-09    1.850233
2000-01-10   -0.438822
2000-01-11   -0.812658
2000-01-12   -0.148713
2000-01-13    1.444397
2000-01-14    0.531303
2000-01-15   -0.610008
2000-01-16    0.228399
2000-01-17    1.810016
2000-01-18   -0.119330
2000-01-19   -1.000015
2000-01-20   -1.053711
2000-01-21   -1.545367
2000-01-22    0.002213
2000-01-23    3.459757
2000-01-24   -0.405298
2000-01-25   -0.026594
2000-01-26    0.671670
2000-01-27    0.889440
2000-01-28    0.470185
2000-01-29    0.153417
2000-01-30   -1.130276
                ...
2002-08-28    0.335097
2002-08-29   -0.145621
2002-08-30   -0.688650
2002-08-31    0.037779
2002-09-01    0.459902
2002-09-02   -0.774537
2002-09-03    0.461491
2002-09-04    0.387225
2002-09-05   -0.306240
2002-09-06   -0.242585
2002-09-07   -1.233163
2002-09-08    0.198119
2002-09-09    3.319324
2002-09-10   -0.321092
2002-09-11   -0.125414
2002-09-12    2.139537
2002-09-13    1.718135
2002-09-14    0.333358
2002-09-15   -0.921864
2002-09-16   -0.506611
2002-09-17    1.291000
2002-09-18   -1.491690
2002-09-19   -1.384137
2002-09-20   -2.611815
2002-09-21   -0.090447
2002-09-22    2.005426
2002-09-23    0.237241
2002-09-24   -1.271192
2002-09-25   -0.662100
2002-09-26   -1.495653
Freq: D, Length: 1000, dtype: float64

In [77]:
longer_ts['2001']

2001-01-01   -0.755914
2001-01-02    0.398766
2001-01-03   -0.744541
2001-01-04   -2.108438
2001-01-05   -0.399128
2001-01-06    0.880837
2001-01-07   -0.882294
2001-01-08    0.489915
2001-01-09   -1.172703
2001-01-10    0.342263
2001-01-11   -1.385663
2001-01-12    0.506934
2001-01-13   -0.541126
2001-01-14    0.493952
2001-01-15    1.031200
2001-01-16    0.714563
2001-01-17   -0.112118
2001-01-18   -2.055026
2001-01-19    1.229258
2001-01-20   -1.409840
2001-01-21   -0.265365
2001-01-22    1.138206
2001-01-23    0.577299
2001-01-24   -1.485008
2001-01-25   -0.124998
2001-01-26   -2.061861
2001-01-27   -1.032322
2001-01-28    1.596604
2001-01-29    0.867269
2001-01-30    0.416290
                ...
2001-12-02   -1.012776
2001-12-03   -0.617496
2001-12-04    2.129877
2001-12-05    0.095881
2001-12-06   -0.288740
2001-12-07    1.361174
2001-12-08   -0.160438
2001-12-09   -0.257968
2001-12-10   -0.335209
2001-12-11   -2.116014
2001-12-12    0.590766
2001-12-13   -0.274991
2001-12-14   -0.580112
2001-12-15   -1.984341
2001-12-16    1.026662
2001-12-17    1.202525
2001-12-18   -0.633143
2001-12-19   -1.004431
2001-12-20   -0.807151
2001-12-21    0.686848
2001-12-22    0.709978
2001-12-23    0.849332
2001-12-24   -0.995596
2001-12-25    1.168575
2001-12-26   -0.755707
2001-12-27    0.445732
2001-12-28    0.862548
2001-12-29   -1.300257
2001-12-30    0.091306
2001-12-31   -0.525711
Freq: D, Length: 365, dtype: float64

In [78]:
longer_ts['2001-02']

2001-02-01    0.925422
2001-02-02   -0.609174
2001-02-03   -0.119473
2001-02-04    0.632538
2001-02-05   -1.411514
2001-02-06   -1.615382
2001-02-07    1.524825
2001-02-08    0.730881
2001-02-09   -0.535462
2001-02-10    2.784888
2001-02-11    0.668824
2001-02-12   -0.659692
2001-02-13   -0.421880
2001-02-14   -1.455282
2001-02-15   -1.913606
2001-02-16   -0.996846
2001-02-17    0.006114
2001-02-18    0.823057
2001-02-19   -0.988244
2001-02-20   -1.154887
2001-02-21    1.247926
2001-02-22   -0.865494
2001-02-23    1.084445
2001-02-24    1.652529
2001-02-25   -1.671849
2001-02-26    1.184767
2001-02-27    1.190728
2001-02-28    1.614991
Freq: D, dtype: float64

In [79]:
# datetime对象也可以进行切片
ts[datetime(2011,1,7):]

2011-01-07   -1.156542
2011-01-08   -0.405303
2011-01-10    0.289514
2011-01-12    0.916638
dtype: float64

In [80]:
ts

2011-01-02   -1.598769
2011-01-05    0.260810
2011-01-07   -1.156542
2011-01-08   -0.405303
2011-01-10    0.289514
2011-01-12    0.916638
dtype: float64

In [81]:
# 由于大部分时间序列数据是按照时间先后排序的
# 可以用不存在于该时间序列中的时间戳对其进行切片

In [82]:
ts

2011-01-02   -1.598769
2011-01-05    0.260810
2011-01-07   -1.156542
2011-01-08   -0.405303
2011-01-10    0.289514
2011-01-12    0.916638
dtype: float64

In [85]:
ts['1/6/11':'1/11/2011']

2011-01-07   -1.156542
2011-01-08   -0.405303
2011-01-10    0.289514
dtype: float64

In [86]:
# 还有一个等价的实例方法可以截取两个日期之间的TimeSeries
ts.truncate(after='1/9/2011')

2011-01-02   -1.598769
2011-01-05    0.260810
2011-01-07   -1.156542
2011-01-08   -0.405303
dtype: float64

In [87]:
# 这些操作对DataFrame也有效

dates = pd.date_range('1/1/2000',periods=100,freq='W-WED')

In [88]:
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [89]:
long_df = pd.DataFrame(np.random.randn(100,4)
                      ,index=dates,
                      columns=['Colorado','Texas',
                              'New York','Ohio'])

In [90]:
long_df

            Colorado     Texas  New York      Ohio
2000-01-05  0.537194 -0.506667  0.548181  1.754848
2000-01-12 -1.083055  0.022801 -1.086522 -0.193441
2000-01-19  0.020705  1.992898  0.693465 -0.397023
2000-01-26 -0.018741  0.072612 -1.233891 -0.702096
2000-02-02 -0.661897 -1.635194  0.884435  0.599216
2000-02-09 -0.653797  0.896138  0.831074 -0.109098
2000-02-16  0.163837 -1.332941  0.104770  0.376468
2000-02-23 -2.307386 -0.607065  1.844410  1.353210
2000-03-01  0.213977 -0.495036 -0.756292  1.103130
2000-03-08 -0.694423 -0.369009  1.365638 -0.013500
2000-03-15 -1.301430 -1.172665 -0.518101  0.149111
2000-03-22 -0.165123  0.452828 -0.130757  0.061378
2000-03-29  0.533314  1.191588 -0.479700  0.286997
2000-04-05  1.264560 -1.198263  1.401045  0.183613
2000-04-12 -1.187498  0.051109  2.116723 -1.963076
2000-04-19 -0.509283 -2.101667  0.644044 -1.202455
2000-04-26  0.838589 -0.844135  0.725583  1.645372
2000-05-03  0.845104 -1.688870 -1.200009 -0.820795
2000-05-10 -1.028129  0.467735  1.123780 -0.201579
2000-05-17 -0.885389  0.923943 -0.110474 -0.849079
2000-05-24  0.782946 -0.541833  0.959125  0.790343
2000-05-31  0.747811 -0.746516  0.695752  0.664470
2000-06-07 -0.252542  0.796019 -0.379522  0.221962
2000-06-14 -0.535991  1.027719  0.585116 -1.067688
2000-06-21  0.814508  0.793131 -0.330744  0.073503
2000-06-28  1.131810 -0.748049 -1.749484 -0.151786
2000-07-05 -0.013722 -0.200590 -0.539896  0.640251
2000-07-12  1.626157  0.108102  0.041299 -1.873174
2000-07-19 -0.311979  2.329730 -0.967689  0.639894
2000-07-26 -1.442666 -0.934325  0.574738 -1.719135
...              ...       ...       ...       ...
2001-05-09  1.693482 -0.354028 -0.292018  0.234954
2001-05-16  1.107721  2.057732  0.368030 -0.433754
2001-05-23  1.372222 -0.850141 -0.863943 -0.607574
2001-05-30  0.046347 -1.996749 -1.069356 -0.465435
2001-06-06 -1.154431 -0.506116  0.074904  0.493563
2001-06-13 -0.436797  0.972174  0.859206  0.414530
2001-06-20 -1.412379  0.521664  1.534991 -0.301782
2001-06-27  1.036842 -1.328336 -0.340091 -1.458858
2001-07-04  1.182230 -0.184116  1.312115 -0.505921
2001-07-11 -0.041957  1.431466  0.515667 -0.073219
2001-07-18  0.304867  0.492872 -0.218748 -1.244259
2001-07-25 -2.173044 -0.030981 -1.155405  0.523743
2001-08-01  0.032046  1.401625 -0.569696  0.672412
2001-08-08  0.282588 -0.581807 -0.176419 -0.079349
2001-08-15  0.166082 -0.681866  0.895693  0.481877
2001-08-22  0.355152 -0.988210 -2.335197 -1.666868
2001-08-29 -1.701493  0.735054  0.766526 -0.594115
2001-09-05 -0.180640  0.690572  0.510366 -0.916668
2001-09-12 -2.668868  0.139154 -1.273899 -0.479271
2001-09-19  0.320779 -1.065102 -0.747260 -0.050943
2001-09-26  1.252835 -1.873199  0.395058  1.081230
2001-10-03 -1.253444 -0.197441  1.945103  1.935335
2001-10-10  1.044718  0.578720  0.779279  2.007918
2001-10-17 -0.728152  1.598349 -0.970826 -0.179837
2001-10-24  1.241028 -1.365246  0.843833  0.704697
2001-10-31 -0.214226  1.033550 -1.646640  0.732701
2001-11-07  0.859387  3.009295 -0.568317  0.668995
2001-11-14  0.809497  1.774076 -1.587233  0.056914
2001-11-21  0.473482  0.462289 -0.849371  0.573595
2001-11-28  1.311815 -0.736367 -0.152502  0.208607

[100 rows x 4 columns]

In [91]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  1.152249 -2.495603  1.414225  0.335101
2001-05-09  1.693482 -0.354028 -0.292018  0.234954
2001-05-16  1.107721  2.057732  0.368030 -0.433754
2001-05-23  1.372222 -0.850141 -0.863943 -0.607574
2001-05-30  0.046347 -1.996749 -1.069356 -0.465435

In [ ]:
# 日期的范围、频率以及移动
# pandas有一整套标准时间序列频率
# 以及用于重采样、频率推断、生成固定频率日期范围的工具

In [6]:
ts

2011-01-02    1.334904
2011-01-05   -0.284661
2011-01-07   -0.238854
2011-01-08    0.475048
2011-01-10    0.418716
2011-01-12    0.110473
dtype: float64

In [7]:
resampler = ts.resample('D')

In [9]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [10]:
# 生成日期范围
# pandas.date_range可用于根据指定的频率生成指定长度的DatetimeIndex

In [11]:
index = pd.date_range('2012-04-01','2012-06-01')

In [12]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [13]:
# 默认情况下,date_range会产生按天计算的时间点
# 如果只传入起始或结束时期
# 那还得传入一个表示一段时间的数字

pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [14]:
pd.date_range(end='2012-06-01',periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [15]:
# 可以传入时间序列频率还限定生成的DatetimeIndex
pd.date_range('2000-01-01','2000-12-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [16]:
# 频率和日期偏移量
# pandas中的频率由一个基础频率和一个乘数组成

In [17]:
from pandas.tseries.offsets import Hour,Minute

In [18]:
hour =Hour()

In [19]:
hour

In [20]:
# 传入一个整数可以定义偏移量的倍数
four_hours = Hour(4)

In [21]:
four_hours

In [22]:
# 一般来说,无需创建这样的对象,只需使用诸如“H”，“4H”这样的字符串别名即可

In [24]:
pd.date_range('2000-01-01','2000-01-03 23:59',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [25]:
# 大部分偏移量对象都可以通过加法进行连接
Hour(2) + Minute(30)

In [26]:
# 可以传入频率字符串,会被高效地解析为等效的表达式

pd.date_range('2000-01-01',periods=10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [27]:
# WOM日期
# WOM(Week of Month) 是一种非常实用的频率类

In [28]:
# 能使人获得诸如"每月第3个星期五"之类的日期
rp = pd.date_range('2012-01-01','2012-09-01',
                  freq='WOM-3FRI')

In [29]:
rp

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [30]:
list(rp)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [31]:
# 移动(超前和滞后)数据
# 移动(shifting)是指沿着时间轴将数据前移或后移
# Series和DataFrame都有一个shift方法用于执行单纯的前移或后移操作
# 保持索引不变

In [33]:
ts = pd.Series(np.random.rand(4),
              index=pd.date_range('1/1/2000',
             periods=4,
              freq='M')
              )

In [34]:
ts

2000-01-31    0.844864
2000-02-29    0.312263
2000-03-31    0.135890
2000-04-30    0.257583
Freq: M, dtype: float64

In [35]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.844864
2000-04-30    0.312263
Freq: M, dtype: float64

In [36]:
ts.shift(-2)

2000-01-31    0.135890
2000-02-29    0.257583
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [37]:
# 单纯的移位操作不会修改索引,所以部分数据会被丢弃
# 如果频率已知,可以将其传给shift
# 以便实现对时间戳进行位移而不是对数据进行简单位移

In [38]:
ts.shift(2,freq='M')

2000-03-31    0.844864
2000-04-30    0.312263
2000-05-31    0.135890
2000-06-30    0.257583
Freq: M, dtype: float64

In [40]:
# 还可以使用其他频率
ts.shift(3,freq='D')

2000-02-03    0.844864
2000-03-03    0.312263
2000-04-03    0.135890
2000-05-03    0.257583
dtype: float64

In [41]:
# 通过偏移量对日期进行位移
from pandas.tseries.offsets import Day,MonthEnd

In [42]:
now = datetime(2011,11,17)

In [43]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [44]:
# 如果是锚点偏移量
# 第一次增量会将原日期向前滚动到符合频率规则的下一个日期

In [45]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [49]:
now + MonthEnd(3)

Timestamp('2012-01-31 00:00:00')

In [50]:
# 通过锚点偏移量的rollforward和rollback方法
# 可明确地将日期向前或向后"滚动"

In [51]:
offset = MonthEnd()

In [52]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [53]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [54]:
# 可以结合groupby使用这两个方法

In [55]:
ts = pd.Series(np.random.randn(20),
              index=pd.date_range('1/15/2000',
                                 periods=20,
                                 freq='4d'))

In [56]:
ts

2000-01-15   -1.993633
2000-01-19    1.109196
2000-01-23    1.845059
2000-01-27   -0.703064
2000-01-31    0.577575
2000-02-04   -0.537869
2000-02-08   -0.447070
2000-02-12    1.449436
2000-02-16   -0.395534
2000-02-20   -0.007951
2000-02-24   -1.981438
2000-02-28   -1.000193
2000-03-03   -0.581387
2000-03-07    1.531774
2000-03-11    0.072676
2000-03-15   -1.070163
2000-03-19   -0.642569
2000-03-23    0.269647
2000-03-27    0.288563
2000-03-31    0.617788
Freq: 4D, dtype: float64

In [58]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.167027
2000-02-29   -0.417231
2000-03-31    0.060791
dtype: float64

In [59]:
ts.groupby(offset.rollforward).count()

2000-01-31    5
2000-02-29    7
2000-03-31    8
dtype: int64

In [60]:
# 时区处理

In [61]:
import pytz

In [63]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [64]:
# 要从pytz中获取时区对象,使用pytz.timezone即可

In [65]:
tz = pytz.timezone('America/New_York')

In [66]:
tz

In [67]:
# 时区本地化和转换
# 默认情况下,pandas中的时间序列时单纯的时区

rp = pd.date_range('3/9/2012 9:30',periods=6,
                  freq='D')

ts = pd.Series(np.random.randn(len(rp)),index=rp)

In [68]:
ts

2012-03-09 09:30:00    1.782704
2012-03-10 09:30:00   -0.114553
2012-03-11 09:30:00   -1.814228
2012-03-12 09:30:00   -0.302412
2012-03-13 09:30:00   -0.156169
2012-03-14 09:30:00    0.526685
Freq: D, dtype: float64

In [69]:
print(ts.index.tz)

None

In [70]:
# 可以用时区集生成日期范围
pd.date_range('3/9/2012 9:30',
             periods=10,
             freq='D',
             tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [71]:
# 本地化的转换是通过tz_localize方法处理的

In [72]:
ts_utc = ts.tz_localize('UTC')

In [73]:
ts_utc

2012-03-09 09:30:00+00:00    1.782704
2012-03-10 09:30:00+00:00   -0.114553
2012-03-11 09:30:00+00:00   -1.814228
2012-03-12 09:30:00+00:00   -0.302412
2012-03-13 09:30:00+00:00   -0.156169
2012-03-14 09:30:00+00:00    0.526685
Freq: D, dtype: float64

In [74]:
# 一旦时间序列被本地化到某个特定的时区
# 可以用tz_convert将其转换到别的时区了

In [75]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    1.782704
2012-03-10 04:30:00-05:00   -0.114553
2012-03-11 05:30:00-04:00   -1.814228
2012-03-12 05:30:00-04:00   -0.302412
2012-03-13 05:30:00-04:00   -0.156169
2012-03-14 05:30:00-04:00    0.526685
Freq: D, dtype: float64

In [85]:
# 不同时区之间的运算
# 如果两个时间序列的时区不同,将它们合并到一起时,最终结果就是UTC
# 由于时间戳是以UTC存储的
# 所以是一个很简单的运算,不需要发生任何转换

In [77]:
rp = pd.date_range('3/7/2012 9:30',periods=10,freq='B')

In [78]:
ts = pd.Series(np.random.randn(len(rp)),index=rp)

In [79]:
ts

2012-03-07 09:30:00   -1.125739
2012-03-08 09:30:00   -1.665717
2012-03-09 09:30:00    0.954989
2012-03-12 09:30:00   -0.267224
2012-03-13 09:30:00    0.651897
2012-03-14 09:30:00   -0.220336
2012-03-15 09:30:00    0.156024
2012-03-16 09:30:00    0.711165
2012-03-19 09:30:00    0.266864
2012-03-20 09:30:00    0.940540
Freq: B, dtype: float64

In [80]:
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [81]:
ts1

2012-03-07 09:30:00+00:00   -1.125739
2012-03-08 09:30:00+00:00   -1.665717
2012-03-09 09:30:00+00:00    0.954989
2012-03-12 09:30:00+00:00   -0.267224
2012-03-13 09:30:00+00:00    0.651897
2012-03-14 09:30:00+00:00   -0.220336
2012-03-15 09:30:00+00:00    0.156024
Freq: B, dtype: float64

In [82]:
ts2

2012-03-09 13:30:00+04:00    0.954989
2012-03-12 13:30:00+04:00   -0.267224
2012-03-13 13:30:00+04:00    0.651897
2012-03-14 13:30:00+04:00   -0.220336
2012-03-15 13:30:00+04:00    0.156024
Freq: B, dtype: float64

In [83]:
resule = ts1 +ts2

In [84]:
resule

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00    1.909979
2012-03-12 09:30:00+00:00   -0.534449
2012-03-13 09:30:00+00:00    1.303794
2012-03-14 09:30:00+00:00   -0.440672
2012-03-15 09:30:00+00:00    0.312049
Freq: B, dtype: float64

In [86]:
resule.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')