In [2]:
# NA -> not available

import pandas as pd
import numpy as np

In [3]:
string_data = pd.Series(['aardvark','artichoke',np.nan,'avocado'])

In [4]:
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [5]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [6]:
# None 值在对象数组中也可以作为NA
string_data[0] = None
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

In [13]:
string_data.dropna()

1    artichoke
3      avocado
dtype: object